---
layout: base.njk
title: Blog
---

<ul>
{% for post in collections.blog %}
  <li><a href="{{ post.url }}">{{ post.data.posttitle }}</a></li>
{% endfor %}
</ul>

{% lightbox "me.jpg", "A picture of me" %}